<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group input-group-sm">
                    <input type="text" name="search" v-model="search" class="form-control" @keyup.enter="onSearch" :placeholder="$t('ui.placeholder.search')">
                    <span class="input-group-btn">
                        <button class="btn btn-success" @click="onSearch">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li><router-link to="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> {{$t('ui.navbar.dashboard')}}</router-link></li>
            <li>
                <a href="#"><i class="fa fa-list fa-fw"></i> {{$t('ui.navbar.campaigns')}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <router-link to="/admin/campaigns">{{$t('ui.navbar.consult')}}</router-link>
                    </li>
                    <li>
                        <router-link to="/admin/create-campaign">{{$t('ui.navbar.create')}}</router-link>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li v-if="user.roles.isSuper">
                <a href="#"><i class="fa fa-table fa-fw"></i> {{$t('ui.navbar.manage')}}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><router-link to="/admin/users">{{$t('ui.navbar.users')}}</router-link></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
</div>