<li class="dropdown">
    <a href="#" class="dropdown-toggle language" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li v-for="lang in langs"><a href="#" @click="changeLanguage(lang)">{{ $t(`language.${lang}`) }} <i v-if="$i18n.locale === lang" class="fa fa-check fa-fw fa-pull-right"></i></a></li>
    </ul>
</li>