<li class="dropdown dropdown-authenticated" v-if="user.authenticated">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<img class="nav-img-authenticated" src="~assets/images/avatar.png" alt="Avatar" width="30" height="30">
		<span class="hidden-mob">{{ user.name }} <span class="caret"></span></span>
	</a>
	<ul class="dropdown-menu dropdown-menu-authenticated">
		<li>
			<router-link to="/admin/me" v-if="user.authenticated">
				<div class="container-authenticated-info">
					<img class="profile-img-authenticated" src="~assets/images/avatar.png" alt="Avatar">
					<div class="text-name">{{ user.name }}</div>
					<div class="text-email text-muted">{{ user.email }}</div>
				</div>
			</router-link>
		</li>
		<li role="separator" class="divider"></li>
		<li><router-link to="/admin/settings" v-if="user.authenticated"><i class="fa fa-sliders fa-fw"></i> {{$t('ui.navbar.settings')}}</router-link></li>
		<li role="separator" class="divider"></li>
		<li><a href="#" @click="logout()"><i class="fa fa-sign-out fa-fw"></i> {{$t('ui.navbar.logout')}}</a></li>
	</ul>
</li>