<div>
    <header-admin-content :title="title"></header-admin-content>
    <div class="row">
        <div class="col-lg-12">
           <slot name="content"></slot>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>