<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header page-scroll">
			<div class="navbar-item-mobile icon-type">
				<select-language></select-language>
			</div>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<router-link to="/#page-top" class="navbar-brand">
				<div class="logo-img"></div>
			</router-link>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a class="page-scroll" href="/#page-top"></a>
				</li>
				<li>
					<a class="page-scroll" href="/#features">{{$t('ui.navbar.features')}}</a>
				</li>
				<li>
					<a class="page-scroll" href="/#about">{{$t('ui.navbar.about')}}</a>
				</li>
				<li>
					<a class="page-scroll" href="/#contact">{{$t('ui.navbar.contact')}}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="container-button-navbar" v-if="!user.authenticated">
					<button @click="goToSignin" class="btn btn-info btn-block">{{$t('ui.navbar.login')}}</button>
				</li>
				<li class="container-button-navbar" v-if="!user.authenticated">
					<button @click="goToSignup" class="btn btn-success btn-block">{{$t('ui.button.btnStarted')}}</button>
				</li>
				<select-language class="hidden-mob"></select-language>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>