// Helpers

.margin-reset
    margin: 0 !important

.margin-xs
    margin: .6rem

.margin-s
    margin: 1.2rem

.margin-m
    margin: 1.8rem

.margin-l
    margin: 2.8rem

.margin-xl
    margin: 4.8rem

.margin-t-reset
    margin-top: 0 !important

.margin-t-xs
    margin-top: .6rem

.margin-t-s
    margin-top: 1.2rem

.margin-t-m
    margin-top: 1.8rem

.margin-t-l
    margin-top: 2.8rem

.margin-b-l
    margin-bottom: 2.8rem

.margin-t-xl
    margin-top: 4.8rem

@media #{$mobile-device}

    .hidden-mob
        display: none !important

    .margin-t-reset-mob
        margin-top: 0 !important
