nav
    .container-button-navbar
        padding: .8rem .5rem 0
        @media #{$mobile-device}
            padding: .8rem 1.5rem 0

        button
            border-radius: 2.5rem

    .container-fluid
        .navbar-right
            @media #{$desktop-device}
                margin-right: 0

    .navbar-item-mobile
        float: right

        &.icon-type
            font-size: 1.9rem
        @media #{$desktop-device}
            display: none

        li
            display: block

            a
                &.dropdown-toggle
                    color: $color-white
                    display: block
                    height: 6rem
                    padding: 1.95rem 1.5rem

    .dropdown-toggle
        &.language
            padding: 1.5rem 1.5rem 1.4rem !important
            @media #{$mobile-device}
                padding: 1rem 1.5rem 0 0 !important

    .navbar-brand
        .logo-img
            background: url('~assets/images/logo.png')
            background-repeat: no-repeat
            background-size: 9rem
            height: 2.3rem
            width: 9rem

            &:hover
                background: url('~assets/images/logo-hover.png')
                background-repeat: no-repeat
                background-size: 9rem
                height: 2.3rem
                width: 9rem

    .dropdown-authenticated
        max-height: 6rem

        .dropdown-toggle
            padding: 1.6rem 1.5rem 1.5rem
            @media #{$mobile-device}
                padding: 1.2rem 1.5rem 0 0 !important

        .nav-img-authenticated
            -moz-border-radius: 50%
            -webkit-border-radius: 50%
            border-radius: 50%
            height: 3rem
            margin: 0 .5rem 0 0
            width: 3rem
            @media #{$mobile-device}
                height: 3.4rem
                margin: 0
                width: 3.4rem

        .container-authenticated-info
            padding: .7rem 0 .3rem

            div
                display: block
                overflow: hidden
                text-align: center
                text-overflow: ellipsis
                white-space: nowrap
                width: 100%

            .text-name
                font-size: 1.5rem
                margin-bottom: .5rem

            .text-email
                font-size: 1.3rem

        .profile-img-authenticated
            -moz-border-radius: 50%
            -webkit-border-radius: 50%
            border-radius: 50%
            display: block
            height: 4.8rem
            margin: 0 auto 1rem
            width: 4.8rem

    @media #{$mobile-device}
        .dropdown
            &.open
                position: static

                .dropdown-menu
                    left: .5rem
                    margin: 0 auto
                    right: .5rem
                    top: 6.2rem
                    width: 98%

@media #{$desktop-device}
    .navbar-public
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out
        padding: 2rem 0
        transition: background .5s ease-in-out, padding .5s ease-in-out

    .navbar-brand-public
        .logo-img
            -moz-transition: background .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out
            -o-transition: background .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out
            -webkit-transition: background .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out
            transition: background .5s ease-in-out, width .5s ease-in-out, height .5s ease-in-out

    .navbar-brand-public
        padding: .4rem 1.5rem !important

        .logo-img
            background: url('~assets/images/logo.png')
            background-repeat: no-repeat
            background-size: 20rem !important
            height: 5.1rem !important
            width: 20rem !important

            &:hover
                background: url('~assets/images/logo-hover.png')
                background-repeat: no-repeat
                background-size: 20rem !important
                height: 5.1rem !important
                width: 20rem !important

    .top-nav-collapse
        padding: 0

        .navbar-brand-public
            padding: 1.95rem 1.5rem !important

            .logo-img
                background: url('~assets/images/logo.png')
                background-repeat: no-repeat
                background-size: 9rem !important
                height: 2.3rem !important
                width: 9rem !important

                &:hover
                    background: url('~assets/images/logo-hover.png')
                    background-repeat: no-repeat
                    background-size: 9rem !important
                    height: 2.3rem !important
                    width: 9rem !important
