// Wrappers
.wrapper
    background-color: $color-background-sb-admin
    width: 100%

.page-wrapper
    background-color: $color-white
    margin-top: 6rem
    min-height: 56.8rem
    padding: 0 1.5rem

    .page-header
        border-bottom: 1px solid $color-gray-lightest-darken

@media #{$desktop-device}
    .page-wrapper
        border-left: .1rem solid $color-gray-lightest-darken
        margin: 6rem 0 0 25rem
        padding: 0 3rem
        position: inherit

// --Sidebar

.sidebar
    background-color: $color-background-sb-admin !important
    .sidebar-nav.navbar-collapse
        padding-left: 0
        padding-right: 0

.sidebar .sidebar-search
    padding: 1.5rem

.sidebar ul li
    border-bottom: .1rem solid $color-gray-lightest-darken
    a
        &.active
            background-color: $color-gray-lighter

.sidebar .arrow
    float: right

.sidebar .fa.arrow:before
    content: "\f104"

.sidebar .active > a > .fa.arrow:before
    content: "\f107"

.sidebar .nav-second-level li,
.sidebar .nav-third-level li
    border-bottom: none !important

.sidebar .nav-second-level li a
    padding-left: 3.7rem

.sidebar .nav-third-level li a
    padding-left: 5.2rem

@media #{$desktop-device}
    .sidebar
        z-index: 1
        position: absolute
        width: 25.0rem
        margin-top: .1rem
