<div>
	<!-- Code Section -->
	<section id="code" class="code-section">
		<div class="container vertical-center">
			<div class="centerme text-center">
                <h1>{{$t('message.landingPage.code.title')}}</h1>
                <div class="form-inline margin-t-l margin-b-l">
                    <div class="input-group input-group-lg input-code">
                        <input autofocus type="text" ref="code" v-model="code" class="form-control text-uppercase" @keyup.enter="checkCodeSubmit" :placeholder="$t('ui.placeholder.code')">
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-lg" @click="checkCodeSubmit">{{$t('ui.button.btnGo')}}</button>
                        </span>
                    </div>
                </div>
                <p>{{$t('message.landingPage.code.subTitle')}}</p>
			</div>
		</div>
	</section>

    <!-- Features Section -->
    <section id="features" class="features-section">
       <div class="container vertical-center">
			<div class="centerme">
                <h1>{{$t('message.landingPage.features.title')}}</h1>
                <div class="feature-item">
                    <i class="fa fa-check-square-o"></i>
                    <span>{{$t('message.landingPage.features.item1')}}</span>
                </div>
                <div class="feature-item">
                    <i class="fa fa-check-square-o"></i>
                    <span>{{$t('message.landingPage.features.item2')}}</span>
                </div>
                <div class="feature-item">
                    <i class="fa fa-check-square-o"></i>
                    <span>{{$t('message.landingPage.features.item3')}}</span>
                </div>
                <div class="feature-item">
                    <i class="fa fa-check-square-o"></i>
                    <span>{{$t('message.landingPage.features.item4')}}</span>
                </div>
                <div class="feature-item">
                    <i class="fa fa-check-square-o"></i>
                    <span>{{$t('message.landingPage.features.item5')}}</span>
                </div>
                <div class="feature-item space">
                    <i class="fa fa-slideshare"></i>
                    <span><a target="_blank" :href="urlPresentation">{{$t('message.landingPage.features.moreInfo')}}</a></span>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container vertical-center">
			<div class="centerme">
                    <h1>{{$t('ui.navbar.about')}}</h1>
                </div>
            </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container vertical-center">
			<div class="centerme">
                <h1>{{$t('ui.navbar.contact')}}</h1>
                <div class="contact-item">
                    <i class="fa fa-phone"></i>
                    <span><a href="tel:+34666666666">+34 666 666 666</a></span>
                </div>
                <div class="contact-item">
                    <i class="fa fa-envelope-o"></i>
                    <span><a href="mailto:contact@offon.io">contact@offon.io</a></span>
                </div>
            </div>
        </div>
    </section>

	<footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 container-copy text-muted">
                    {{$t('message.landingPage.footer.copyright')}} — 
                    <span>
                        {{$t('message.landingPage.footer.made')}} 
                        <i class="fa fa-heart"></i> 
                        {{$t('message.landingPage.footer.local')}}
                    </span>
                </div>
                <div class="col-sm-6">
                    <share-buttons
                        facebook='http://facebook.com'
                        twitter='http://twitter.com'
                        linkedin='http://linkedin.com'>
                    </share-buttons>
                </div>
            </div>
        </div>
	</footer>
</div>