<div class="wrapper">
	<admin-header></admin-header>
	<div class="page-wrapper">
		<transition name="fade" mode="out-in" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
			<router-view></router-view>
		</transition>
	</div>
</div>