<div>
	<public-header></public-header>
	<div class="content">
		<transition name="fade" mode="out-in" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut">
			<router-view></router-view>
		</transition>
	</div>
</div>