<div class="container navbar-size">
	<div class="page-header">
		<h1>{{$t('message.forgotTitle')}}</h1>
	</div>

	<p>{{$t('message.forgotSubTitle')}}</p>

	<div class="row">
		<div class="col-md-6">
			<fieldset class="form-group">
				<input type="text" name="user" class="form-control" :placeholder="$t('ui.placeholder.login')">
			</fieldset>
			<fieldset class="form-group">
				<button type="button" class="btn btn-primary btn-xs-block">{{$t('ui.button.btnRestorePassword')}}</button>
			</fieldset>
		</div>
	</div>
</div>