<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="navbar-item-mobile icon-type">
			<select-language></select-language>
		</div>
		<div class="navbar-item-mobile">
			<admin-authenticated></admin-authenticated>
		</div>
		<router-link to="/#page-top" class="navbar-brand">
			<div class="logo-img"></div>
		</router-link>
	</div>
	<!-- /.navbar-header -->

	<ul class="nav navbar-nav navbar-right hidden-mob">
		<admin-authenticated></admin-authenticated>
		<!-- /.dropdown -->
		<select-language></select-language>
		<!-- /.dropdown -->
	</ul>
	<!-- /.navbar-top-links -->
	</div>
	<admin-aside></admin-aside>
	<!-- /.navbar-static-side -->
</nav>